@use "sass:math";

@import "anme-mixins-media";
@import "anme-vars";
//Bootstrap-grid
[class^="container"],
[class^="layout"] {
  width: 100%;
  padding-right: $gAir;
  padding-left: $gAir;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  max-width: 100% !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$gAir;
  margin-left: -$gAir;

  &.no-gutters {
    margin-right: 0;
    margin-left: 0;

    .col, [class*="col-"] {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.col, [class*="col-"] {
  box-sizing: border-box;
  max-width: 100%;
  padding-left: $gAir;
  padding-right: $gAir
}

.col {
  flex-basis: 0;
  flex-grow: 1;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-12 {
  flex-basis: 100%;
}

.col-11 {
  flex-basis: (math.div(100, 12)*11%);
  max-width: (math.div(100, 12)*11%);
}

.col-10 {
  flex-basis: (math.div(100, 12)*10%);
  max-width: (math.div(100, 12)*10%);
}

.col-9 {
  flex-basis: (math.div(100, 12)*9%);
  max-width: (math.div(100, 12)*9%);
}

.col-8 {
  flex-basis: (math.div(100, 12)*8%);
  max-width: (math.div(100, 12)*8%);
}

.col-7 {
  flex-basis: (math.div(100, 12)*7%);
  max-width: (math.div(100, 12)*7%);
}

.col-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-5 {
  flex-basis: (math.div(100, 12)*5%);
  max-width: (math.div(100, 12)*5%);
}

.col-4 {
  flex-basis: (math.div(100, 12)*4%);
  max-width: (math.div(100, 12)*4%);
}

.col-3 {
  flex-basis: (math.div(100, 12)*3%);
  max-width: (math.div(100, 12)*3%);
}

.col-2 {
  flex-basis: (math.div(100, 12)*2%);
  max-width: (math.div(100, 12)*2%);
}

.col-1 {
  flex-basis: (math.div(100, 12)*1%);
  max-width: (math.div(100, 12)*1%);
}

.offset-11 {
  margin-left: (math.div(100, 12)*11%);
}

.offset-10 {
  margin-left: (math.div(100, 12)*10%);
}

.offset-9 {
  margin-left: (math.div(100, 12)*9%);
}

.offset-8 {
  margin-left: (math.div(100, 12)*8%);
}

.offset-7 {
  margin-left: (math.div(100, 12)*7%);
}

.offset-6 {
  margin-left: (math.div(100, 12)*6%);
}

.offset-5 {
  margin-left: (math.div(100, 12)*5%);
}

.offset-4 {
  margin-left: (math.div(100, 12)*4%);
}

.offset-3 {
  margin-left: (math.div(100, 12)*3%);
}

.offset-2 {
  margin-left: (math.div(100, 12)*2%);
}

.offset-1 {
  margin-left: (math.div(100, 12)*1%);
}

.order-first {
  order: -1;
}

.order-last {
  order: 9999;
}

//Bootstrap-grid-sm
@include sm {
  .container {
    max-width: 540px;
  }

  .row-sm {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$gAir;
    margin-left: -$gAir;

    &.no-gutters {
      margin-right: 0;
      margin-left: 0;

      .col-sm, [class*="col-sm"] {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .col-sm, [class*="col-sm"] {
    box-sizing: border-box;
    max-width: 100%;
  }

  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-sm-12 {
    flex-basis: 100%;
  }

  .col-sm-11 {
    flex-basis: (math.div(100, 12)*11%);
    max-width: (math.div(100, 12)*11%);
  }

  .col-sm-10 {
    flex-basis: (math.div(100, 12)*10%);
    max-width: (math.div(100, 12)*10%);
  }

  .col-sm-9 {
    flex-basis: (math.div(100, 12)*9%);
    max-width: (math.div(100, 12)*9%);
  }

  .col-sm-8 {
    flex-basis: (math.div(100, 12)*8%);
    max-width: (math.div(100, 12)*8%);
  }

  .col-sm-7 {
    flex-basis: (math.div(100, 12)*7%);
    max-width: (math.div(100, 12)*7%);
  }

  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-sm-5 {
    flex-basis: (math.div(100, 12)*5%);
    max-width: (math.div(100, 12)*5%);
  }

  .col-sm-4 {
    flex-basis: (math.div(100, 12)*4%);
    max-width: (math.div(100, 12)*4%);
  }

  .col-sm-3 {
    flex-basis: (math.div(100, 12)*3%);
    max-width: (math.div(100, 12)*3%);
  }

  .col-sm-2 {
    flex-basis: (math.div(100, 12)*2%);
    max-width: (math.div(100, 12)*2%);
  }

  .col-sm-1 {
    flex-basis: (math.div(100, 12)*1%);
    max-width: (math.div(100, 12)*1%);
  }

  .offset-sm-11 {
    margin-left: (math.div(100, 12)*11%);
  }

  .offset-sm-10 {
    margin-left: (math.div(100, 12)*10%);
  }

  .offset-sm-9 {
    margin-left: (math.div(100, 12)*9%);
  }

  .offset-sm-8 {
    margin-left: (math.div(100, 12)*8%);
  }

  .offset-sm-7 {
    margin-left: (math.div(100, 12)*7%);
  }

  .offset-sm-6 {
    margin-left: (math.div(100, 12)*6%);
  }

  .offset-sm-5 {
    margin-left: (math.div(100, 12)*5%);
  }

  .offset-sm-4 {
    margin-left: (math.div(100, 12)*4%);
  }

  .offset-sm-3 {
    margin-left: (math.div(100, 12)*3%);
  }

  .offset-sm-2 {
    margin-left: (math.div(100, 12)*2%);
  }

  .offset-sm-1 {
    margin-left: (math.div(100, 12)*1%);
  }

  .order-sm-first {
    order: -1;
  }

  .order-sm-last {
    order: 9999;
  }
}

//Bootstrap-grid-md
@include md {
  .container {
    max-width: 720px;
  }

  .row-md {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$gAir;
    margin-left: -$gAir;

    &.no-gutters {
      margin-right: 0;
      margin-left: 0;

      .col-md, [class*="col-md"] {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .col-md, [class*="col-md"] {
    box-sizing: border-box;
    max-width: 100%;
  }

  .col-md {
    flex-basis: 0;
    flex-grow: 1;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-md-12 {
    flex-basis: 100%;
  }

  .col-md-11 {
    flex-basis: (math.div(100, 12)*11%);
    max-width: (math.div(100, 12)*11%);
  }

  .col-md-10 {
    flex-basis: (math.div(100, 12)*10%);
    max-width: (math.div(100, 12)*10%);
  }

  .col-md-9 {
    flex-basis: (math.div(100, 12)*9%);
    max-width: (math.div(100, 12)*9%);
  }

  .col-md-8 {
    flex-basis: (math.div(100, 12)*8%);
    max-width: (math.div(100, 12)*8%);
  }

  .col-md-7 {
    flex-basis: (math.div(100, 12)*7%);
    max-width: (math.div(100, 12)*7%);
  }

  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-md-5 {
    flex-basis: (math.div(100, 12)*5%);
    max-width: (math.div(100, 12)*5%);
  }

  .col-md-4 {
    flex-basis: (math.div(100, 12)*4%);
    max-width: (math.div(100, 12)*4%);
  }

  .col-md-3 {
    flex-basis: (math.div(100, 12)*3%);
    max-width: (math.div(100, 12)*3%);
  }

  .col-md-2 {
    flex-basis: (math.div(100, 12)*2%);
    max-width: (math.div(100, 12)*2%);
  }

  .col-md-1 {
    flex-basis: (math.div(100, 12)*1%);
    max-width: (math.div(100, 12)*1%);
  }

  .offset-md-11 {
    margin-left: (math.div(100, 12)*11%);
  }

  .offset-md-10 {
    margin-left: (math.div(100, 12)*10%);
  }

  .offset-md-9 {
    margin-left: (math.div(100, 12)*9%);
  }

  .offset-md-8 {
    margin-left: (math.div(100, 12)*8%);
  }

  .offset-md-7 {
    margin-left: (math.div(100, 12)*7%);
  }

  .offset-md-6 {
    margin-left: (math.div(100, 12)*6%);
  }

  .offset-md-5 {
    margin-left: (math.div(100, 12)*5%);
  }

  .offset-md-4 {
    margin-left: (math.div(100, 12)*4%);
  }

  .offset-md-3 {
    margin-left: (math.div(100, 12)*3%);
  }

  .offset-md-2 {
    margin-left: (math.div(100, 12)*2%);
  }

  .offset-md-1 {
    margin-left: (math.div(100, 12)*1%);
  }

  .order-md-first {
    order: -1;
  }

  .order-md-last {
    order: 9999;
  }
}

//Bootstrap-grid-lg
@include lg {
  .container {
    max-width: 960px;
  }

  .row-lg {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$gAir;
    margin-left: -$gAir;

    &.no-gutters {
      margin-right: 0;
      margin-left: 0;

      .col-lg, [class*="col-lg"] {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .col-lg, [class*="col-lg"] {
    box-sizing: border-box;
    max-width: 100%;
  }

  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-lg-12 {
    flex-basis: 100%;
  }

  .col-lg-11 {
    flex-basis: (math.div(100, 12)*11%);
    max-width: (math.div(100, 12)*11%);
  }

  .col-lg-10 {
    flex-basis: (math.div(100, 12)*10%);
    max-width: (math.div(100, 12)*10%);
  }

  .col-lg-9 {
    flex-basis: (math.div(100, 12)*9%);
    max-width: (math.div(100, 12)*9%);
  }

  .col-lg-8 {
    flex-basis: (math.div(100, 12)*8%);
    max-width: (math.div(100, 12)*8%);
  }

  .col-lg-7 {
    flex-basis: (math.div(100, 12)*7%);
    max-width: (math.div(100, 12)*7%);
  }

  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-lg-5 {
    flex-basis: (math.div(100, 12)*5%);
    max-width: (math.div(100, 12)*5%);
  }

  .col-lg-4 {
    flex-basis: (math.div(100, 12)*4%);
    max-width: (math.div(100, 12)*4%);
  }

  .col-lg-3 {
    flex-basis: (math.div(100, 12)*3%);
    max-width: (math.div(100, 12)*3%);
  }

  .col-lg-2 {
    flex-basis: (math.div(100, 12)*2%);
    max-width: (math.div(100, 12)*2%);
  }

  .col-lg-1 {
    flex-basis: (math.div(100, 12)*1%);
    max-width: (math.div(100, 12)*1%);
  }

  .offset-lg-11 {
    margin-left: (math.div(100, 12)*11%);
  }

  .offset-lg-10 {
    margin-left: (math.div(100, 12)*10%);
  }

  .offset-lg-9 {
    margin-left: (math.div(100, 12)*9%);
  }

  .offset-lg-8 {
    margin-left: (math.div(100, 12)*8%);
  }

  .offset-lg-7 {
    margin-left: (math.div(100, 12)*7%);
  }

  .offset-lg-6 {
    margin-left: (math.div(100, 12)*6%);
  }

  .offset-lg-5 {
    margin-left: (math.div(100, 12)*5%);
  }

  .offset-lg-4 {
    margin-left: (math.div(100, 12)*4%);
  }

  .offset-lg-3 {
    margin-left: (math.div(100, 12)*3%);
  }

  .offset-lg-2 {
    margin-left: (math.div(100, 12)*2%);
  }

  .offset-lg-1 {
    margin-left: (math.div(100, 12)*1%);
  }

  .order-lg-first {
    order: -1;
  }

  .order-lg-last {
    order: 9999;
  }
}

//Bootstrap-grid-xl
@include xl {
  .container {
    max-width: 1220px;
  }

  .row-xl {
    display: flex;
    flex-wrap: wrap;
    margin-right: -$gAir;
    margin-left: -$gAir;

    &.no-gutters {
      margin-right: 0;
      margin-left: 0;

      .col-xl, [class*="col-xl"] {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .col-xl, [class*="col-xl"] {
    box-sizing: border-box;
    max-width: 100%;
  }

  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
  }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
  }

  .col-xl-12 {
    flex-basis: 100%;
  }

  .col-xl-11 {
    flex-basis: (math.div(100, 12)*11%);
    max-width: (math.div(100, 12)*11%);
  }

  .col-xl-10 {
    flex-basis: (math.div(100, 12)*10%);
    max-width: (math.div(100, 12)*10%);
  }

  .col-xl-9 {
    flex-basis: (math.div(100, 12)*9%);
    max-width: (math.div(100, 12)*9%);
  }

  .col-xl-8 {
    flex-basis: (math.div(100, 12)*8%);
    max-width: (math.div(100, 12)*8%);
  }

  .col-xl-7 {
    flex-basis: (math.div(100, 12)*7%);
    max-width: (math.div(100, 12)*7%);
  }

  .col-xl-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-xl-5 {
    flex-basis: (math.div(100, 12)*5%);
    max-width: (math.div(100, 12)*5%);
  }

  .col-xl-4 {
    flex-basis: (math.div(100, 12)*4%);
    max-width: (math.div(100, 12)*4%);
  }

  .col-xl-3 {
    flex-basis: (math.div(100, 12)*3%);
    max-width: (math.div(100, 12)*3%);
  }

  .col-xl-2 {
    flex-basis: (math.div(100, 12)*2%);
    max-width: (math.div(100, 12)*2%);
  }

  .col-xl-1 {
    flex-basis: (math.div(100, 12)*1%);
    max-width: (math.div(100, 12)*1%);
  }

  .offset-xl-11 {
    margin-left: (math.div(100, 12)*11%);
  }

  .offset-xl-10 {
    margin-left: (math.div(100, 12)*10%);
  }

  .offset-xl-9 {
    margin-left: (math.div(100, 12)*9%);
  }

  .offset-xl-8 {
    margin-left: (math.div(100, 12)*8%);
  }

  .offset-xl-7 {
    margin-left: (math.div(100, 12)*7%);
  }

  .offset-xl-6 {
    margin-left: (math.div(100, 12)*6%);
  }

  .offset-xl-5 {
    margin-left: (math.div(100, 12)*5%);
  }

  .offset-xl-4 {
    margin-left: (math.div(100, 12)*4%);
  }

  .offset-xl-3 {
    margin-left: (math.div(100, 12)*3%);
  }

  .offset-xl-2 {
    margin-left: (math.div(100, 12)*2%);
  }

  .offset-xl-1 {
    margin-left: (math.div(100, 12)*1%);
  }

  .order-xl-first {
    order: -1;
  }

  .order-xl-last {
    order: 9999;
  }
}
