/*JUSTIFY*/
.df {
  display: flex; flex-direction: row;
}

.dfc {
  display: flex;
  flex-direction: column;
}

.dfc-jc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.j7 {
  display: flex; flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.j8 {
  display: flex; flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.j9 {
  display: flex; flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}

.j79 {
  display: flex; flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.j789 {
  display: flex; flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.j4 {
  display: flex; flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.j6 {
  display: flex; flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.j46 {
  display: flex; flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.j456 {
  display: flex; flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.j5 {
  display: flex; flex-direction: row;
  justify-content: center;
  align-items: center;
}

.j1 {
  display: flex; flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

.j11 {
  display: flex; flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.j2 {
  display: flex; flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.j3 {
  display: flex; flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.j13 {
  display: flex; flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.j123 {
  display: flex; flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}