@use "sass:math";

@mixin before {
  &:before {
    content: '';
    display: block;
    @content;
  }
}

@mixin after {
  &:after {
    content: '';
    display: block;
    @content;
  }
}

@mixin clearfix {
  &:after {
    content: '';
    display: table;
    padding: 0;
    margin: 0;
  }
}

@mixin before-abs {
  &:before {
    content: '';
    display: block;
    position: absolute;
    @content;
  }
}

@mixin after-abs {
  &:after {
    content: '';
    display: block;
    position: absolute;
    @content;
  }
}

@mixin fill-parent {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@mixin font($fs, $lh) {
  font-size: $fs+px;
  line-height: math.div($lh, $fs);
}

@mixin custom-scroll {
  scrollbar-color: rgb(114, 223, 248);
  scrollbar-width: thin ;

  scrollbar {
    -moz-appearance: none ;
  }
  scrollbarbutton {
    -moz-appearance: none ;
  }
  thumb{
    -moz-appearance: none ;
  }
  scrollcorner {
    -moz-appearance: none ;
    resize:both;
  }
  // overflow-y: overlay;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #52aeff;

    &:hover {
      background: #3e62ff;
    }
  }

  &::-webkit-scrollbar:horizontal {
    height: 8px;
  }

  &::-webkit-scrollbar-track:horizontal {
    background: #F4F6FF;
  }

  &::-webkit-scrollbar-thumb:horizontal {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: #BAC2C9;
    background-clip: padding-box;
    border: 4px solid rgba(0, 0, 0, 0);

    &:hover {
      background: #9AA0B9;
      border: 2px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
    }
  }
}

@mixin custom-scroll2 {
  scrollbar-color: rgb(186, 194, 201) rgba(0,0,0,0) ;
  scrollbar-width: thin ;

  scrollbar {
    -moz-appearance: none ;
  }
  scrollbarbutton {
    -moz-appearance: none ;
  }
  thumb{
    -moz-appearance: none ;
  }
  scrollcorner {
    -moz-appearance: none ;
    resize:both;
  }
  // overflow-y: overlay;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #BAC2C9;

    &:hover {
      background: #9AA0B9;
    }
  }

  &::-webkit-scrollbar:horizontal {
    height: 8px;
  }

  &::-webkit-scrollbar-track:horizontal {
    background: inherit;
  }

  &::-webkit-scrollbar-thumb:horizontal {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: #BAC2C9;
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0);

    &:hover {
      background: #9AA0B9;
      border: 1px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
    }
  }
}
