.bg--white {
  background: #fff;
}

.bg--success {
  background-color: $color--success;
}

.bg--error {
  background-color: $color--error;
}

.bg--warn {
  background-color: $color--warn;
}

.bg--cherokee {
  background-color: $color--cherokee;
}

.bg--yellow {
  background-color: $color--yellow;
}

.bg--pause,
.bg--disabled {
  background-color: $color--pause;
}

.bg--sky {
  background-color: $color--sky;
}

.bg--sky-deep {
  background-color: $color--sky-deep;
}

.bg--sky-light {
  background-color: $color--sky-light;
}

.bg--sky-gentle {
  background-color: $color--sky-gentle;
}

.bg--purple {
  background-color: $color--purple;
}

.bg--sea {
  background-color: $color--sea;
}

.bg--light-pinky {
  background-color: $color--light-pinky;
}

.bg--wisp-pinky {
  background-color: $color--wisp-pinky;
}

.bg--color--panache {
  background-color: $color--panache;
}

.bg--lavr {
  background-color: $color--lavr;
}

.bg--creme {
  background-color: $color--creme;
}

.bg--warning {
  background-color: $color--warning;
}

.bg--slate {
  background-color: $color--slate;
}

.bg--gray-gentel {
  background-color: $color--gray-gentel
}

.bg--froly {
  background-color: $color--froly;
}

.bg--sandy-beach {
  background-color: $color--sandy-beach;
}

.bg--wisp-pinky {
  background-color: $color--wisp-pinky;
}

.border--success {
  border-color: $color--success;
}

.border--sky {
  border-color: $color--sky;
}

.border--danger {
  border-color: $color--error;
}

.border--gray-dark {
  border-color: $color--gray-dark;
}


.color--white {
  color: #fff;
}

.color--primary {
  color: $color--primary;
}

.color--froly {
  color: $color--froly;
}

.color--text {
  color: $color--text;
}

.color--gray-gull {
  color: $color--gray-gull;
}

.color--dark {
  color: #000;
}

.color--sea-buckthorn {
  color: $color--sea-buckthorn;
}

.color--success {
  color: $color--success;
}

.color--de-york {
  color: $color--de-york;
}

.color--green-dark {
  color: $color--green-dark;
}

.color--green-haze {
  color: $color--green-haze;
}

.color--error {
  color: $color--error;
}

.color--light-red {
  color: $color--light-red;
}

.color--danger {
  color: $color--error;
}

.color--warning {
  color: $color--warning;
}

.color--warn {
  color: $color--warn;
}

.color--pause,
.color--disabled {
  color: $color--pause;
}

.color--sky {
  color: $color--sky;
}

.color--sky-deep {
  color: $color--sky-deep;
}

.color--sky-light {
  color: $color--sky-light;
}

.color--purple {
  color: $color--purple;
}

.color--sea {
  color: $color--sea;
}

.color--light-pinky {
  color: $color--light-pinky;
}

.color--eggplant {
  color: $color--eggplant;
}

.color--gray-dark {
  color: $color--gray-dark;
}

.color--brown {
  color: $color--brown;
}

.color--gray-gentel {
  color: $color--gray-gentel
}

//SOCIALS COLORS
.color--skype {
  color: #33c5f1;
}

.color--fb {
  color: #4489ca;
}

.color--viber {
  color: #af55a3;
}

.color--icq {
  color: #24b802;
}

.color--aim {
  color: #d04c2d;
}

.i-color--skype {
  color: #33c5f1 ;
}

.i-color--fb {
  color: #4489ca ;
}

.i-color--viber {
  color: #af55a3 ;
}

.i-color--icq {
  color: #24b802 ;
}

.i-color--aim {
  color: #d04c2d ;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}
